@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  color: #1c1a1e;
}

header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.leftNav {
  height: 55px;
  display: flex;
  /* border : 1px solid black; */
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.oatekLogo {
  height: 100%;
  width: 110px;
}

.nav-list {
  margin-left: 20px;
}

.nav-list li {
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
}

.nav-list li:hover {
  color: rgb(0, 150, 255);
  cursor: pointer;
}

.rightNav {
  /* border : 1px solid black; */
  display: flex;
  margin-right: 100px;
  align-items: center;
}

.rightNav p {
  font-size: 14px;
  align-items: center;
  display: flex;
}

.section-one {
  height: 750px;
  /* padding: 20%; */
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one main {
  width: 85%;
  margin: auto;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.section-one-text {
  height: 100%;
  display: flex;
  width: 40%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 400px;
}

.section-one-main-text {
  margin: 10px;
  color: rgb(0, 150, 255);
  font-size: 60px;
  font-weight: 500;
  font-family: "Gloock", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.section-one-sub-text {
  margin: 10px;
}

.section-one-text button {
  margin: 10px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  background-color: rgb(0, 150, 255);
  cursor: pointer;
}

.section-one-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.section-one-img img {
  width: 100%;
  height: 400px;
}

.section-two {
  height: 750px;
  width: 100%;
  display: flex;
  background-color: rgb(0, 150, 255);
  align-items: center;
  justify-content: center;
}

.section-two main {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.section-two-main-text {
  color: #fff;
  font-size: 35px;
}

.section-two-body-text {
  display: flex;
  width: 100%;
  gap: 2%;
  justify-content: space-between;
  align-items: flex-start;
}

.mid-text {
  width: 85%;
}

.section-two-body-text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}

.section-two-square {
  background-color: rgb(0, 150, 255);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  /* margin: 14px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two-dot {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

.section-three {
  height: 750px;
  width: 100%;
  display: flex;
  background-color: rgb(241, 245, 248);
  align-items: center;
  justify-content: center;
}

.section-three main {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.section-three-text {
  width: 60%;
}

.section-three-text-header {
  font-size: 18px;
  margin: 10px;
}

.section-three-text-sub {
  margin: 10px;
  color: rgb(0, 150, 255);
  font-size: 55px;
  font-weight: 400;
  padding: 10px;
  font-family: "Gloock", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.section-three-text-body {
  width: 100%;
  margin: 10px;
}

.section-three-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.section-three-body-multi {
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
}

.multi-color-blue {
  background-color: rgb(0, 150, 255);
}

.multi-color-black {
  background-color: #1c1a1e;
}

.section-three-body-multi p {
  color: #fff;
  display: flex;
  align-items: center;
  width: 500px;
  gap: 5px;
  padding: 2px;
  font-weight: 500;
  justify-content: flex-start;
  flex-direction: row;
}

.my-square {
  width: 15px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.section-four {
  height: 750px;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.section-five {
  height: 750px;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.section-six {
  height: 680px;
  width: 100%;
  display: flex;
  background-color: rgb(241, 245, 248);
  align-items: center;
  justify-content: center;
}

footer {
  height: 480px;
  width: 100%;
  display: flex;
  background-color: rgb(53, 53, 54);
  align-items: center;
  justify-content: center;
}
